#video_div{
  
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#projekty_cont_big{
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
}

.projekty_cont{
  display: flex;
  flex-wrap: wrap;
  
}

.project_item{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 100px;
}

.video_div{
  height: 320px;
  width: 66%;
}

.text_div{
  background-color: #fcfbfa;
  height: 320px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
  list-style-type: square;
}

.test1{
  padding-left: 50px;
  padding-right: 10px;
}

a{
  color: black;
}

.projekty_item{
  justify-content: center;
  width: 50%;
  
}

.projekt_text{
  background-color: blue;

}

.test{
  padding-top: 90px;
}


#pro1{
}

body{
  font-family: Garamond, serif;
  font-size: 17px;
  
}

.skills_test{
  padding-left: 40px;
}

#skills{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
  height: 500px;
  padding-bottom: 40px;
}


.link_logo{
  width: 50px;
  height: 50px;
  padding: 10px;
}

#osobni_info_cont{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;

 
}

.info_item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}




#linky{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.link_cont{

  padding: 25px;
}


.odkaz{
  text-decoration: none;
  color: black;
}



#navigace{
  position: relative;
}


.link_button{
  position: relative;
  width: 150px;
  height: 50px;
}


.vzdelani{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fakulta{
  padding-left: 20px;
}

#vzdelani_cont{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;

}

.vzdelani_item{
  
}

.skills_item{
  padding-left: 20px;
}

.dovednosti_cont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
}

.dovednosti_single{
  padding-left: 20px;
  padding-right: 20px;
}

table{
  border: 1px solid black;
  
}

li{
  padding: 1px;
}

.is_right{
  padding-right: 100px;
}

.is_left{
  padding-left: 100px;
}