

video{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#projekty_cont_big{
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
}

.projekty_cont{
  display: flex;
  flex-wrap: wrap;
  
}

.project_item{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 80px;
  padding-right: 40px;
}

.is_right{
  padding-right: 100px;
}

.is_left{
  padding-left: 100px;
}

@media (max-width:600px) {

  .is_right{
    padding-right: 0px;
  }
  
  .is_left{
    padding-left: 0px;
  }

  .project_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 100px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
  } 
}


.video_div{
  height: 320px;
  width: 66%;
  min-width: 300px;
}

.text_div{
  background-color: #fcfbfa;
  height: 320px;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}

ul{
  list-style-type: square;
}

.test1{
  padding-left: 50px;
  padding-right: 10px;
}

a{
  color: black;
}

.projekty_item{
  justify-content: center;
  width: 50%;
  
}

.projekt_text{
  background-color: blue;

}

.test{
  padding-top: 90px;
}


body{
  font-family: Garamond, serif;
  font-size: 17px;
  
}

.skills_test{
  padding: 40px;

}

#skills{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 60px;
  height: 500px;
  padding-bottom: 40px;
}


.link_logo{
  width: 50px;
  height: 50px;
  padding: 10px;
}

#osobni_info_cont{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
  padding-top: 40px;
}

.info_item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-left: 40px;
}




#linky{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.link_cont{
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}


.odkaz{
  text-decoration: none;
  color: black;
}



#navigace{
  position: relative;
}


.link_button{
  position: relative;
  width: 150px;
  height: 50px;
}


.vzdelani{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.fakulta{
  padding-left: 20px;
}

#vzdelani_cont{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: left;

}



.skills_item{
  padding-left: 20px;
}

.dovednosti_cont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  
}

.dovednosti_single{
  padding-left: 20px;
  padding-right: 20px;
}

table{
  border: 1px solid black;
  
}

li{
  padding: 1px;
}

